Repository Azure/review-checklists, changes with the owners that CODEOWNERS names for each.
All owners: @erjosito, @sdolgin, @mbilalamjad, @Azure/fta-alz-vteam, @Azure/alz-checklist-contributors, @munieswar, @prwani, @brmoreir, @pea-ms, @seenu433, @msftnadavbh, @naioja, @igorpag, @mikewarr, @bagwyth, @fskelly, @mgodfrey50, @robinher, @sikovatc, @AlastairMorrison, @videshmukh, @mottach, @NaokiIgarashi, @arsenvlad, @johndowns, @cherchyk, @jelledruyts, @xstof, @andredewes, @chgeuer, @cbellee, @mbrat2005, @steveswalwell, @igomaa, @bappadityams, @vermegi, @fmustaf, @roshair, @karthikyella, @dbabulldog-repo, @igorjnzl

Disabling cron entry for get_theakschecklist.yml
  .github/workflows/get_theakschecklist.yml
Owners: @erjosito, @sdolgin, @mbilalamjad

Disabling cron entry for get_waf_sg.yml
  .github/workflows/get_waf_sg.yml
Owners: @erjosito, @sdolgin, @mbilalamjad

Update get_theakschecklist.yml
  .github/workflows/get_theakschecklist.yml
Owners: @erjosito, @sdolgin, @mbilalamjad

Update severity level and text in checklist
  checklists/alz_checklist.en.json
Owners: @Azure/fta-alz-vteam, @Azure/alz-checklist-contributors, @munieswar

remove emdashes from code block examples fix env setting use bash echo instead of zsh print remove zsh expansion flag
  scripts/README.md
  scripts/checklist_graph.sh
Owners: @fskelly, @erjosito

CRLF changed to LF, updated spreadsheet version, enhanced spreadsheet error checking
  scripts/graph_results_akssample01.json
  scripts/graph_results_alzsample01.json
  spreadsheet/review_checklist.xlsm
Owners: @fskelly, @erjosito, @sdolgin, @mbilalamjad, @igorjnzl

fixed error check for loading up checklists
  scripts/checklist_graph.sh
  spreadsheet/review_checklist.xlsm
Owners: @fskelly, @erjosito, @sdolgin, @mbilalamjad, @igorjnzl

fixes #1047
  scripts/checklist_graph.sh
Owners: @fskelly, @erjosito

Add next-generation design decisions doc (v3 kickoff)
  v2/docs/next-generation-design.md
Owners: @erjosito, @sdolgin, @mbilalamjad

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
  .github/workflows/get_aprl.yml
  .github/workflows/get_theakschecklist.yml
  .github/workflows/get_waf_sg.yml
  .github/workflows/linter.yml
  .github/workflows/translate.yml
Owners: @erjosito, @sdolgin, @mbilalamjad

docs: update number of checklist usage methods from three to two in README
  README.md
Owners: @erjosito, @sdolgin, @mbilalamjad

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2
*   @erjosito @sdolgin @mbilalamjad

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the octocats team in the octo-org organization owns all .txt files.
# *.txt @octo-org/octocats

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/checklists/ @erjosito @sdolgin @mbilalamjad
/checklists/alz_checklist.en.json @Azure/fta-alz-vteam @Azure/alz-checklist-contributors @munieswar
/checklists/ai_lz_checklist.en.json @mbilalamjad @prwani
/checklists/cost_checklist.en.json @brmoreir @pea-ms
/checklists/aks_checklist.en.json @erjosito @seenu433 @msftnadavbh
/checklists/aro_checklist.en.json @msftnadavbh @naioja @erjosito
/checklists/avd_checklist.en.json @igorpag @mikewarr @bagwyth
/checklists/avs_checklist.en.json @fskelly @mgodfrey50 @robinher
/checklists/avs_implementation_checklist.en.json @fskelly @mgodfrey50 @robinher
/checklists/security_checklist.en.json @mgodfrey50 @sikovatc
/checklists/sap_checklist.en.json @AlastairMorrison @videshmukh @mottach @NaokiIgarashi
/checklists/multitenancy_checklist.en.json @arsenvlad @johndowns @cherchyk
/checklists/appsvc_security_checklist.en.json @jelledruyts @xstof
/checklists/sqldb_security_checklist.en.json @igorpag
/checklists/apim_checklist.en.json @seenu433 @andredewes
/checklists/blob_storage_security_checklist.en.json @chgeuer
/checklists/acr_security_checklist.en.json @cbellee
/checklists/hci_checklist.en.json @mbrat2005 @steveswalwell @igomaa
/checklists/network_appdelivery_checklist.en.json @erjosito @andredewes
/checklists/azurespringapps_checklist.en.json @bappadityams @vermegi @fmustaf
/checklists/ado_checklist.en.json @roshair
/checklists/sql_checklist.en.json @karthikyella @dbabulldog-repo
/scripts/ @fskelly @erjosito
/spreadsheet/ @erjosito @sdolgin @mbilalamjad @igorjnzl
/web/ @erjosito

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository and any of its
# subdirectories.
# /docs/ @doctocat

# In this example, @octocat owns any file in the `/apps` 
# directory in the root of your repository except for the `/apps/github` 
# subdirectory, as its owners are left empty.
# /apps/ @octocat
# /apps/github
